.project
.settings
.pydevproject
.vscode/
.vagrant/
config.json
boxes/*
!boxes/vagrant-files/
pool
provision/*.retry
shared-data/
!shared-data/README
shared-enrollment/
!shared-enrollment/README
vg-cloud.json
__pycache__/
*.py[cod]
.pytest_cache/

