- name: Upgrade all packages
  become: True
  package:
    name: '*'
    state: latest
  when: skip_packages is not defined or not skip_packages

- name: Install common packages
  become: True
  package:
    name: '{{ item }}'
    state: present
  when: skip_packages is not defined or not skip_packages
  with_items:
  - python
  - python-dnf
  - python-ldap
  - libselinux-python
  - bash-completion
  - openldap-clients
  - NetworkManager
  - dnsmasq
  - vim
  - wget
  - git
  - tig
  - gdb
  - ldb-tools

- name: Run SELinux in permissive mode
  become: True
  selinux:
    policy: targeted
    state: permissive

- name: 'Create /shared/enrollment/{{ inventory_hostname }} directory'
  become: True
  file:
    path: '/shared/enrollment/{{ inventory_hostname }}/'
    state: directory

- name: Add .bashrc for user
  become: True
  template:
    src: bashrc
    dest: /home/vagrant/.bashrc
    owner: vagrant
    group: vagrant
    mode: 0644
    force: yes

- name: Add .vimrc for user
  become: True
  template:
    src: vimrc
    dest: /home/vagrant/.vimrc
    owner: vagrant
    group: vagrant
    mode: 0644
    force: yes

- name: Add .bashrc for root
  become: True
  template:
    src: bashrc
    dest: /root/.bashrc
    owner: root
    group: root
    mode: 0644
    force: yes

- name: Add .vimrc for root
  become: True
  template:
    src: vimrc
    dest: /root/.vimrc
    owner: root
    group: root
    mode: 0644
    force: yes

- name: Keep SSSD_TEST_SUITE_BASHRC variable when sudo
  become: True
  lineinfile:
    path: /etc/sudoers
    insertafter: '^Defaults[ \t]+env_keep[ \t]+(.*)$'
    line: 'Defaults    env_keep += "SSSD_TEST_SUITE_BASHRC"'

- name: Accept SSSD_TEST_SUITE_BASHRC variable through ssh
  become: True
  lineinfile:
    path: /etc/ssh/sshd_config
    insertafter: '^AcceptEnv (.*)$'
    line: 'AcceptEnv SSSD_TEST_SUITE_BASHRC'
  register: result

- name: Reload sshd
  become: True
  service:
    name: sshd.service
    enabled: yes
    state: reloaded
  when: result.changed
